<section class="footer-section">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h4>Scaldi</h4>

        <p><a href="{{"/#getting-started" | prepend: site.baseurl}}">Getting Started</a></p>
        <p><a href="{{site.link.twitter}}" target="_blank">Twitter</a></p>
        <p><a href="{{site.link.blog}}" target="_blank">Blog</a></p>
      </div>
      <div class="col-md-3">
        <h4>Documentation</h4>

        <p><a href="{{"/learn/" | prepend: site.baseurl}}">Scaldi</a></p>
        <p><a href="{{"/learn/#play-integration" | prepend: site.baseurl}}">Scaldi Play</a></p>
        <p><a href="{{"/learn/#akka-integration" | prepend: site.baseurl}}">Scaldi Akka</a></p>
      </div>
      <div class="col-md-3">
        <h4>API</h4>

        <p><a href="{{site.link.scaladoc.scaldi}}" target="_blank">scaldi</a></p>
        <p><a href="{{site.link.scaladoc.scaldi-play}}" target="_blank">scaldi-play</a></p>
        <p><a href="{{site.link.scaladoc.scaldi-akka}}" target="_blank">scaldi-akka</a></p>
      </div>
      <div class="col-md-3">
        <h4>Community</h4>

        <p><a href="{{site.link.issues.scaldi}}" target="_blank">Issues</a></p>
        <p><a href="{{site.link.stack-overflow}}" target="_blank">StackOverflow</a></p>
        <p><a href="{{site.link.google-groups}}" target="_blank">Google Groups</a></p>
      </div>
    </div>
  </div>

  <div class="container" style="padding-top: 10px">
    <div style="float: left">Scaldi is licensed under <a target="_blank" href="http://www.apache.org/licenses/LICENSE-2.0" style="text-decoration: underline">Apache License, Version 2.0</a></div>
    <div style="float: right" class="social-icons">
      <a target="_blank" href="{{site.link.google-groups}}" title="Mailing list"><i class="fa fa-envelope fa-lg"></i></a>
      <a target="_blank" href="{{site.link.stack-overflow}}" title="Scaldi at StackOverflow"><i class="fa fa-stack-overflow fa-lg"></i></a>
      <a target="_blank" href="{{site.link.twitter}}" title="Twitter"><i class="fa fa-twitter fa-lg"></i></a>
      <a target="_blank" href="{{site.link.scaldi-github}}" title="Scaldi at GitHub"><i class="fa fa-github fa-lg"></i></a>
    </div>
  </div>
</section>

<!-- Placed at the end of the document so the pages load faster -->
<script src="{{"/assets/js/jquery.min.js" | prepend: site.baseurl}}"></script>
<script src="{{"/assets/js/angular.min.js" | prepend: site.baseurl}}"></script>
<script src="{{"/assets/bootstrap/js/bootstrap.min.js" | prepend: site.baseurl}}"></script>
<script src="{{"/assets/js/main.js" | prepend: site.baseurl}}"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{site.ga-code}}', '{{site.domain}}');
  ga('send', 'pageview');

</script>
