@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Armata);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);

.jumbotron, .footer-section, .navbar-fixed-top {
  background-color: #F7A541;
}

.play-section {
  background-color: #9BC585;
}

.akka-section {
  background-color: #78B8BC;
}

.with-shadow {
  /*http://www.cssmatic.com/box-shadow*/
  -webkit-box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.20);
  -moz-box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.20);
  box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.20);
}

.top-rounded a {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.top-icon {
  padding-right: 5px;
}

.di {
  font-style: italic !important;
}

h1, h2, h3, h4, h5, h6, .header-logo {
  margin: 0 0 20px 0;
  color: #333333;
  font-family: "Quicksand", sans-serif;
  line-height: 1.1em;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  text-shadow: none;
}

h4 {
  font-weight: bold;
}

h1, .header-logo {
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

body {
  font-family: "Armata", sans-serif;
}

.header-logo {
  font-size: 3em;
  display: none;
  float: left;
}

.header-description {
  float: left;
  width: 400px;
  line-height: 0;
  padding-left: 15px;
  opacity: 0.6;
  margin-top: 35px;
  display: none;
  color: #2c3e50;
}

.navbar-header {
  padding-top: 0.4em;
}

.navbar-header .header-logo {
  margin: 0;
}

.main-spacer {
  height: 30px;
}

.secondary-spacer {
  height: 50px;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
  .header-logo {
    padding-left: 10px;
  }
}

.container > .row > div {
  padding-top: 12px;
  padding-bottom: 12px;
}

.navbar-inverse .navbar-nav > li > a {
  color: #000000 !important;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: #13987e !important;
}

.navbar-inverse .navbar-nav > li.active > a:hover {
  color: #000000 !important;
}

li.open > a.dropdown-toggle:hover, li.open > a.dropdown-toggle, .navbar-inverse .navbar-nav > li.active > a {
  color: #ffffff !important;
}

.dropdown-menu > li > a:hover {
  background-color: #15a589;
}

section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.main-button {
  padding: 12px 15px 10px;
}

.main-button span {
  font-size: 1.5em !important;
}

.top-description {
  font-size: 15px !important;
}

.jumbotron {
  padding-bottom: 30px;
  margin-bottom: 0;
}

.top-icon {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.social-icons a {
  padding-left: 5px;
  padding-right: 5px;
}

.footer-section a {
  color: #2c3e50;
}

.footer-section a:hover {
  color: #000000;
}

pre code {
  font-family: "Source Code Pro";
  font-size: 15px;
}

.highlight {
  background: none;
}

.highlight pre {
  color: #525e5f;
  border-radius: 0;
  border: none;
  border-left: 2px solid #F7A541;
  background-color: rgba(247, 165, 65, 0.06);
}

.play-section pre {
  background-color: #b3de94;
  border: none;
  border-radius: 4px;
}

.akka-section pre {
  background-color: #88d5d9;
  border: none;
  border-radius: 4px;
}

.highlight .s {
  color: #358c3d;
}

.integration-logo {
  max-width:100%;
  max-height:100%;
  opacity: 0.5;
}

.class-name {
  font-weight: bold;
}

a.link-link {
  padding-left: 18px;
  color: #2c3e50;
}

.a-link {
  position: relative;
  top: -80px;
  margin: 0;
  padding: 0;
  float: left;
}

a.link-link:hover {
  color: #18bc9c;
}

h2 a.link-link span {
  font-size: 25px;
}

h3 a.link-link span {
  font-size: 18px;
}

.play-section a.btn {
  background: none;
  color: #2c3e50;
  border-color: #729569;
}

.play-section a.btn:hover {
  background-color: #729569;
  color: #ffffff;
}

.play-section a.btn:active {
  background-color: #597756;
}

.akka-section a.btn {
  background: none;
  color: #2c3e50;
  border-color: #568084;
}

.akka-section a.btn:hover {
  background-color: #568084;
  color: #ffffff;
}

.akka-section a.btn:active {
  background-color: #47666a;
}

.main-section section {
  padding-bottom: 0;
}

.main-content h2 {
  margin-top: -70px;
  padding-top: 100px;
  margin-bottom: 30px;
}

.main-content h3 {
  margin-top: -70px;
  padding-top: 90px;
  margin-bottom: 30px;
}

.main-content {
  line-height: 1.55em;
}

.bs-callout {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 8px;
  text-transform: none;
  font-weight: normal;
  font-size: 24px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  background-color: #fff;
  border-radius: 3px;
}
.bs-callout-danger {
  background-color: #fdf7f7;
  border-color: #d9534f;
}
.bs-callout-danger h4 {
  color: #d9534f;
}
.bs-callout-warning {
  background-color: #fcf8f2;
  border-color: #f0ad4e;
}
.bs-callout-warning h4 {
  color: #f0ad4e;
}
.bs-callout-info {
  background-color: #f4f8fa;
  border-color: #5bc0de;
}
.bs-callout-info h4 {
  color: #5bc0de;
}

.bs-callout-ext {
  background-color: rgba(155, 197, 133, 0.08);
  border-color: #9BC585;
}
.bs-callout-ext h4 {
  color: #9BC585;
}
